<div class="row">
  <%= form_for @user, url: login_sessions_path, method: :post, html: { class: 'col s6 offset-s3' } do |f| %>
    <h3 class="header">Login</h3>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :username, class: 'validate', required: true %>
        <%= f.label :username, 'Username' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password, class: 'validate', required: true %>
        <%= f.label :password, 'Password' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.button class: 'btn waves-effect waves-light' do %>
          Login <i class="material-icons right">send</i>
        <% end %>

        <a href="#" class="btn waves-effect waves-light">
          <i class="material-icons left">cloud</i>Subscribe
        </a>
      </div>
    </div>
  <% end%>
</div>